@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700');


/* Scaffolding */
html {
   font-size: 62.5%;
}
body {
   font-size: 1.5em;
   line-height: 1.5;
   font-weight: 400;
   font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #333;
}
.wrapper {
   width: 950px;
   margin: 0 auto;
   *zoom: 1;
}

.wrapper:before,
.wrapper:after {
   display: table;
   content: " ";
}

.wrapper:after {
   clear: both;
}

img {
   max-width: 100%;
}

/* Typography */

h1,h2,h3,h4,h5,h6 {
   font-family: Bitter, Arial, sans-serif;
   margin-top: 0;
   margin-bottom: 2rem;
   font-weight: 400;
}

h1 {
   font-size: 3.0rem;
   line-height: 1.2;
   letter-spacing: -.1rem;
}

h2 {
   font-size: 2.6rem;
   line-height: 1.25;
   letter-spacing: -.1rem;
}

h3 {
   font-size: 2.0rem;
   line-height: 1.3;
   letter-spacing: -.1rem;
}

h4 {
   font-size: 1.4rem;
   line-height: 1.35;
   letter-spacing: -.08rem;
}

h5 {
   font-size: 1.8rem;
   line-height: 1.5;
   letter-spacing: -.05rem;
}

h6 {
   font-size: 1.5rem;
   line-height: 1.6;
   letter-spacing: 0;
}

p {
   margin-top: 0;
}

/* Links */

h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
   color: #444 !important;
   text-decoration: underline;
}

a {
   color: #6491b2;
   text-decoration: none;
}

a:hover, a:active {
   color: #4f738d;
   text-decoration: underline;
}

a small {
   font-size: 11px;
   color: #777;
   margin-top: -0.6em;
   display: block;
}

a:hover small {
   color: #777;
}

strong {
   color: #222;
   font-weight: 700;
}

section {
   width: 600px;
   float: right;
   padding-bottom: 50px;
   min-height: 400px;
   overflow: hidden;
}

small {
   font-size: 11px;
}

hr {
   border: 0;
   background: #e5e5e5;
   height: 1px;
   margin: 0 0 20px;
}

blockquote {
   border-left: 1px solid #e5e5e5;
   margin: 0;
   padding: 0 0 0 20px;
   font-style: italic;
}

code, pre {
   font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
   color: #333;
   font-size: 13px;
   background: #f8f8f8;
   border-radius: 5px;
   border: 1px solid #e5e5e5;
   padding: 2px 4px;
}

pre {
   padding: 8px 15px;
   overflow-x: auto;
}

pre>code {
   background: transparent;
   border: none;
   padding: 0;
}

table {
   width: 100%;
   border-collapse: collapse;
}

th, td {
   text-align: left;
   padding: 5px 10px;
   border-bottom: 1px solid #e5e5e5;
}

dt {
   color: #444;
   font-weight: 700;
}

th {
   color: #444;
}

/* Header / Sidebar Top */

header {
   width: 275px;
   float: left;
   position: fixed;
   border-right: 1px solid #eee;
   padding: 50px 30px 50px 0;
   min-height: 100%;
   margin: -50px 0;
   text-align: center;
}

header h1 {
   margin-bottom: 12px;
}

/* Navbar */

nav ul {
   display: inline-block;
   list-style: none;
   height: 24px;
   padding: 0;
   background: #fff;
   border-radius: 5px;
   width: auto;
}

nav li {
   height: 24px;
   width: 100px;
   text-transform: uppercase;
   margin-bottom: 10px;
}

nav li a {
   font-size: 11px;
   color: #999;
   display: block;
   text-align: center;
   line-height: 24px;
   height: 24px;
   font-size: 13px;
   transition: all 0.2s ease-in-out;
}

nav li:first-child a {
   border-radius: 5px 0 0 5px;
}

nav li:last-child a {
   border-radius: 0 5px 5px 0;
}

nav li a:hover,
nav li a:active {
   color: #444;
   font-weight: 700;
   text-decoration: none;
}

nav li a:active,
nav li a.active,
nav li a.active:hover {
   background: #f8f8f8;
}

/* Footer / Sidebar */

footer {
   font-size: 14px;
   text-align: center;
   width: 275px;
   float: left;
   position: fixed;
   bottom: 50px;
}

img.avatar {
   border-radius: 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   width: 72px;
   height: 72px;
}

img.profile {
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   width: 100px;
   height: 100px;
}

img.pull-right {
   max-width: 40%;
   float: right;
   margin: 0 0 1em 1em;
}

img.pull-left {
   max-width: 40%;
   float: right;
   margin: 0 1em 1em 0;
}

.go-to-top {
   position: fixed;
   bottom: 0;
   right: 10px;
   height: 40px;
   width: 40px;
   color: #777;
   background: #f7f7f7;
   border: 1px solid #eee;
   text-align: center;
   line-height: 40px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   transition: all 0.2s ease-in-out;
   -webkit-user-select: none; /* Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
   cursor: pointer;
}
.go-to-top:hover {
   text-decoration: none;
   color: #444;
   background: #eee;
   border: 1px solid #eee;
}

.go-to-top-hidden {
   height: 0 !important;
}

header img {
   width: 10%;
}

section {
  padding-top: 2rem;
}

ul + h2 {
  margin-top: 4rem;
}

.brand {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

aside {
   border: 2px solid #eee;
   padding: 1.25rem 1rem;
   margin: 0 0 0.5rem 1.25rem;
   float: right;
   width: 25rem;
   background: #f7f7f7;
}

aside h1 {
   font-family: "Raleway", Arial, sans-serif;
   font-size: 1.75rem;
   line-height: 1rem;
   letter-spacing: 0;
   font-weight: 600;
   margin-bottom: 0.5rem;
}

aside p {
   margin: 0;
}

aside p + h1 {
   margin-top: 3rem;
}

section.Projects a {
   text-transform: uppercase;
   transition: all 0.2s ease-in-out;
}

.portfolio-summary {
   display: block;
   margin-bottom: 1rem;
   padding-left: 6rem;
   border: 1px solid #eee;
   color: #777;
   background-repeat: no-repeat;
   background-position: 1.5rem 50%;
   background-size: 25px 25px;
   background-color: #f7f7f7;
   height: 4rem;
   line-height: 4rem;
}

.portfolio-summary:hover {
   text-decoration: none;
   color: #444;
   background-color: #eee;
}

section.Projects a:nth-child(2) {
  background-image: url("../img/project1.svg");
}

section.Projects a:nth-child(3) {
  background-image: url("../img/project2.svg");
}

section.Projects a:nth-child(4) {
  background-image: url("../img/project3.svg");
  background-size: 40px;
  background-position: 1rem 0.75rem;
}

section.Projects a:nth-child(5) {
  background-image: url("../img/project4.svg");
}

section.portfolio-image {
  padding-bottom: 3rem;
}

section.portfolio-image img {
  display: inline-block;
  border: 1px solid #eee;
  padding: 1rem;
  width: 500px;
}
section.portfolio-image:after {
  content: " ";
  width: 50px;
  height: 50px;
  position: relative;
}
section.portfolio-image .caption-image, section.portfolio-scroller label.caption-scroller {
  display: block;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
}
section.portfolio-scroller label.caption-scroller {
  padding-top: 0.75rem;
  margin-bottom: 2rem;
}
section.portfolio-scroller {
  position: relative;
}
section.portfolio-scroller div.img-container {
  border: 1px solid #eee;
  padding: 0.5rem 0;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 12rem;
  height: 400px;
  width: calc(100% - 1rem);
  transition: text-indent .25s ease-in-out;
}
section.portfolio-scroller img {
  height: 400px;
  margin: 0 0.25rem;
  border: 1px solid #c5cacc;
}
section.portfolio-scroller div.arrow {
  position: absolute;
  top: calc(50% - 60px);
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.25s ease-out;
}
section.portfolio-scroller div.arrow-left {
  left: 1.5em;
  border-right:20px solid #777; 
}
section.portfolio-scroller div.arrow-left:hover {
  border-right-color: #777;
  opacity: 1.0;
}
section.portfolio-scroller div.arrow-right {
  right: 1.5em;
  border-left: 20px solid #777;
}
section.portfolio-scroller div.arrow-right:hover {
  border-left-color: #777;
  opacity: 1.0;
}


/* Responsive Adjustments */

@media print, screen and (max-width:1050px) {
   div.wrapper {
      width: 600px;
   }
   header,
   section,
   footer {
      float: none;
      position: static;
      width: auto;
   }
   header {
      background: none;
      position: relative;
      padding: 0 320px 10px 0;
      margin: 0;
      min-height: 0;
      border: none;
      text-align: initial;
   }
   header img {
      width: 25%;
   }
   /* Navbar */
   nav ul {
      display: inline-block;
      list-style: none;
      height: 24px;
      padding: 0;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
      width: auto;
   }
   nav li {
      float: left;
      border-right: 1px solid #e5e5e5;
      margin-bottom: initial;
   }
   nav li:last-child {
      border-right: none;
   }
   nav li a {
      font-size: 11px;
      color: #555;
      display: block;
      text-align: center;
      line-height: 24px;
      height: 24px;
      font-size: 13px;
      transition: all 0.2s ease-in-out;
   }
   nav li:first-child a {
      border-radius: 5px 0 0 5px;
   }
   nav li:last-child a {
      border-radius: 0 5px 5px 0;
   }
   nav li a:hover,
   nav li a:active {
      color: #444;
      font-weight: 700;
      text-decoration: none;
   }
   nav li a:active,
   nav li a.active,
   nav li a.active:hover {
      background: #f8f8f8;
   }
   /* Pagination */
   .pagination {
      *zoom: 1;
   }
   .pagination:before,
   .pagination:after {
      display: table;
      content: " ";
   }
   .pagination:after {
      clear: both;
   }
   .pagination ul {
      float: right;
      list-style: none;
      height: 24px;
      padding: 0;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #e5e5e5;
   }
   .pagination li {
      float: left;
      height: 24px;
      border-right: 1px solid #e5e5e5;
   }
   .pagination li:last-child {
      border-right: none;
   }
   .pagination li a {
      font-size: 11px;
      color: #999;
      display: block;
      text-align: center;
      line-height: 24px;
      height: 24px;
      font-size: 13px;
      padding: 0 8px;
      width: 1em;
      transition: all 0.2s ease-in-out;
   }
   .pagination li:first-child a {
      border-radius: 5px 0 0 5px;
   }
   .pagination li:last-child a {
      border-radius: 0 5px 5px 0;
   }
   .pagination li.prev a {
      width: 4em;
   }
   .pagination li.next a {
      width: 2.5em;
   }
   .pagination li a:hover,
   .pagination li a:active {
      color: #444;
      font-weight: 700;
      text-decoration: none;
   }
   .pagination li a:active,
   .pagination li a.active,
   .pagination li a.active:hover {
      background: #f8f8f8;
   }
   /* Footer / Sidebar */
   footer {
      font-size: 14px;
      text-align: center;
      width: 275px;
      float: left;
      position: fixed;
      bottom: 50px;
   }
   img.avatar {
      border-radius: 40px;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      width: 72px;
      height: 72px;
   }
   img.profile {
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      width: 100px;
      height: 100px;
   }
   img.pull-right {
      max-width: 40%;
      float: right;
      margin: 0 0 1em 1em;
   }
   img.pull-left {
      max-width: 40%;
      float: right;
      margin: 0 1em 1em 0;
   }

   section {
      border: 1px solid #eee;
      border-width: 1px 0;
      padding: 40px 0;
      margin: 0 0 20px;
   }

   .brand {
      position: relative;
      top: 2rem;
      padding-right: 1rem;
      background: rgba(255,255,255,1);
      display: inline-block;
      margin: 0;
   }

   header a small {
      display: inline;
   }
   header ul {
      position: absolute;
      right: 0;
      top: 5px;
   }
   footer {
      text-align: center;
      max-width: 100%;
      position: static;
      width: 200px;
      margin: 0 auto;
      float: none;
   }
}

@media print, screen and (max-width:700px) {
   body {
      word-wrap: break-word;
      padding-top: 15px;
   }
   div.wrapper {
      width: auto;
      margin: 0;
   }
   header {
      padding: 0 0 15px;
   }
   nav ul {
      position: static;
      margin: 0 auto;
   }
   .brand {
      position: static;
      top: 0;
      padding: 0;
      display: block;
      margin: 0 0 1rem 0;
   }
   section {
     padding-top: 2rem;
   }

   header p.view {
      position: static;
   }
   header {
      text-align: center;
   }
   pre, pre>code {
      word-wrap: normal;
   }
}

@media print, screen and (max-width:480px) {
   body {
      padding: 15px;
   }
   aside {
      float: none;
      margin-left: 0;
      width: auto;
      margin-bottom: 2rem;
   }
   section {
      border: 1px solid #eee;
      border-width: 1px 0;
      padding: 20px 0;
      margin: 0 0 20px;
   }
   header a small {
      display: inline;
   }
   header ul {
      position: absolute;
      right: 0;
      top: 5px;
   }
   footer {
      text-align: center;
      max-width: 400px;
      margin: 0 auto;
   }
}

@media print, screen and (max-width:700px) {
   body {
      word-wrap: break-word;
      padding-top: 15px;
   }
   div.wrapper {
      width: auto;
      margin: 0;
   }
   header {
      padding: 0 0 15px;
   }
   nav ul {
      position: static;
      margin: 0 auto;
   }
   header p.view {
      position: static;
   }
   header {
      text-align: center;
   }
   pre,
   pre>code {
      word-wrap: normal;
   }
}

@media print, screen and (max-width:480px) {
   body {
      padding: 15px;
   }
   nav li {
      width: 90px;
   }
}

@media print, screen and (max-width:375px) {
   nav li {
      width: 80px;
   }
}

@media print {
   body {
      padding: 0.4in;
      font-size: 12pt;
      color: #444;
   }
 
}

@media print, screen and (max-width:720px) {
   .form-all li#id_18,
   .form-all li#id_16 {
      float: none;
      width: 100%;
   }
}
