@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i');

/* Scaffolding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    transition: 0.3s all ease-in-out;
    background-color: #fff;
}

.wrapper {
    position: relative;
    width: 1145px;
    margin: 0 auto;
}

.wrapper:before,
.wrapper:after {
    display: table;
    content: " ";
}

.wrapper:after {
    clear: both;
}

img {
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: -.1rem;
    border-bottom: 1px solid #cccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: -.1rem;
}

.welcome h2 {
    font-size: 2.4rem;
}

ul+h3,
table+h2,
table+h3,
p+h3 {
    margin-top: 3rem;
}

h3 {
    font-size: 1.75rem;
    line-height: 1;
    /*   letter-spacing: -.1rem; */
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: -.08rem;
    font-weight: 600;
}

h5 {
    font-size: 2rem;
    line-height: 1;
    letter-spacing: -.05rem;
    font-weight: 400;
}

ul+h5,
figure+h5 {
    margin-top: 3rem;
}

figure+p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

figure+figure {
    margin-top: 2rem;
}

.Résumé h5 {
    float: left;
    margin-left: -22rem;
    width: 20rem;
    padding: 0.5rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3e8ed+0,e9ecef+100
   background: #e9ecef;
   background: linear-gradient(to bottom, #ededed 0%,#e9ecef 100%);
   */
    border-top: 3px solid #ccc;
}

.Résumé {
    padding-left: 22rem;
}

.Résumé h1 {
    margin-left: -22rem;
}

.Résumé h5+ul {
    margin-top: 4.8rem;
}

.Résumé h5+ul:last-of-type {
    margin-top: 3.75rem;
}

.Résumé h1+h5+ul {
    margin-top: 2.9rem;
}

.Résumé h5+h6 {
    margin-top: 2.85em;
    margin-bottom: 1rem;
}

.Résumé h6 {
    font-size: 1.75rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.Résumé ul li {
    margin-bottom: 1rem;
}

.Résumé ul li ul {
    margin-top: 1rem;
}

ul+h6 {
    margin-top: 2rem;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul {
    padding-left: 1.6rem;
    list-style-type: disc;
}

ul+p {
    margin-bottom: 2rem;
}

/* Links */

h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #444 !important;
    text-decoration: underline;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.6em;
    display: block;
}

a:hover small {
    color: #777;
}

.strong {
    color: #222;
    font-weight: 700;
}

section {
    margin-top: 5rem;
    padding-bottom: 2rem;
    min-height: 400px;
    padding-top: 2rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

section+section,
p+section {
    margin-top: 0;
}

section p+figure {
    margin-top: 3rem;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code,
pre {
    font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    color: #1d1d1d;
    font-size: 13px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    padding: 2px 4px;
}

pre {
    padding: 8px 15px;
    overflow-x: auto;
}

pre>code {
    background: transparent;
    border: none;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
}

th,
td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    color: #444;
    font-weight: 700;
}

th {
    color: #444;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fdff+0,e9ecef+100 */
    background: #e9ecef;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f9fdff 0%, #e9ecef 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f9fdff 0%, #e9ecef 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f9fdff 0%, #e9ecef 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff', endColorstr='#e9ecef', GradientType=0);
    /* IE6-9 */
}

/* Header / Sidebar Top */

.header-background {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    z-index: 8000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#576673+0,2e4051+100 */
    background: #03427A;
    /* Old browsers
    background: -moz-linear-gradient(top, #435362 0%, #2e4051 100%);
     FF3.6-15
    background: -webkit-linear-gradient(top, #435362 0%, #2e4051 100%);
     Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, #435362 0%, #2e4051 100%);
     W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#435362', endColorstr='#2e4051', GradientType=0);
     IE6-9 */
}

header {
    position: fixed;
    width: inherit;
    line-height: 50px;
    z-index: 9000;
    display: flex;
    justify-content: space-between
}

header .brand {
    white-space: nowrap;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

header .brand:hover {
    color: #F1B51C;
    text-decoration: none;
    cursor: pointer;
}

header .subbrand {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: 2rem;
    position: relative;
    bottom: 2px;
}

header h1 {
    margin-bottom: 2rem;
}

/* Navbar */
nav {
    white-space: nowrap;
}

nav ul {
    list-style: none;
    height: 24px;
    padding: 0;
    width: auto;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

nav li {
    height: 24px;
    padding-left: 2em;
    text-transform: uppercase;
    display: inline-block;
}

nav li a {
    font-size: 11px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 24px;
    height: 24px;
    font-size: 13px;
    transition: all 0.2s ease-in-out;
}

.mobile-menu {
    display: none;
    color: #fff;
    text-transform: uppercase;
    padding-right: 2.5rem;
    transition: all 0.2s ease-in-out;
}

.mobile-menu img {
    position: absolute;
    right: 0.3rem;
    top: 1.75rem;
}

.mobile-menu>img:last-child {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.mobile-menu:hover,
.mobile-menu:active {
    color: #F1B51C;
    text-decoration: none;
    background-size: 0 0, 18px auto;
}

.mobile-menu:hover>img:last-child,
mobile-menu:active>img:last-child {
    opacity: 0;
}

nav li a:hover,
nav li a:active {
    color: #F1B51C;
    font-weight: 700;
    text-decoration: none;
}

/* Footer / Sidebar */

footer {
    text-align: right;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-top: 0;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

img.avatar {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    width: 72px;
    height: 72px;
}

img.profile {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 1.5rem 0.5rem 0;
}

img.pull-right {
    max-width: 40%;
    float: right;
    margin: 0 0 1em 1em;
}

img.pull-left {
    max-width: 40%;
    float: right;
    margin: 0 1em 1em 0;
}

.go-to-top {
    position: fixed;
    bottom: 0px;
    right: 10px;
    height: 30px;
    width: 40px;
    color: #333;
    background: #e9ecef99;
    text-align: center;
    line-height: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    cursor: pointer;
}

.go-to-top:hover {
    text-decoration: none;
    color: #000;
    background: #F1B51C;
    opacity: 1.0;
}

.go-to-top:hover .go-to-top-arrow {
    border-bottom: 30px solid #F1B51C;
    opacity: 1.0;
}

.go-to-top-hidden {
    bottom: -70px !important;
}

.go-to-top-arrow {
    position: absolute;
    top: -30px;
    left: -10px;
    transition: all 0.2s ease-in-out;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #e9ecef;
    opacity: 0.5;
}

figure+h2,
ul+h2,
figure+h3,
ul+h3 {
    margin-top: 4rem;
}

ol {
    padding-left: 1.5rem;
}

ol+div {
    margin-top: 3rem;
}

ol li {
    padding-left: 0.5rem;
}

ol+figure {
    margin-top: 2rem;
}

aside {
    padding: 0.5rem 1rem;
    margin: 0 0 1rem 1.25rem;
    float: right;
    width: 25rem;
    box-shadow: 0 1px 4px #00000044;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fdff+0,e9ecef+100 */
    background: #F3F5F8;
    /* Old browsers

    background: -moz-linear-gradient(top, #f9fdff 0%, #e9ecef 100%);
    /* FF3.6-15
    background: -webkit-linear-gradient(top, #f9fdff 0%, #e9ecef 100%);
    /* Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, #f9fdff 0%, #e9ecef 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff', endColorstr='#e9ecef', GradientType=0);
    IE6-9 */
}

aside h1 {
    font-family: "Raleway", Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1rem;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding-bottom: 0;
    border-bottom: none;
}

aside p {
    margin: 0;
}

aside p+h1 {
    margin-top: 3rem;
}

aside img {
    margin-top: 2rem;
}

.card-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
}

.card {
    display: block;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 6px #00000033;
    background-color: #F3F5F8;
    background-repeat: no-repeat;
    background-position: 1rem 1.25rem;
    background-size: 25px 25px;
    min-width: 200px;
    max-width: 300px;
    min-height: 154px;
    color: #1b2630;
    padding: 1rem 1rem 1rem 5rem;
}

label {
    font-weight: 600;
}

.card p {
    margin: 1rem 0;
}

.card:hover {
    text-decoration: none;
    background-color: #F8EFD4;
    color: #000;
}

.card:nth-child(1) {
    background-image: url("../img/project1.svg");
}

.card:nth-child(2) {
    background-image: url("../img/project2.svg");
}

.card:nth-child(3) {
    background-image: url("../img/project3.svg");
}

.card:nth-child(4) {
    background-image: url("../img/project4.svg");
}

.card:nth-child(5) {
    background-image: url("../img/project5.svg");
}

.card:nth-child(6) {
    background-image: url("../img/project6.svg");
}

.card:nth-child(7) {
    background-image: url("../img/project7.svg");
}

.card:nth-child(8) {
    background-image: url("../img/project8.svg");
}

*/ .portfolio-item-image {
    padding-top: 1rem;
}

.portfolio-item-collection {
    padding: 1rem 0 3rem 0;
}

.portfolio-item-image img {
    display: inline-block;
    padding: 1rem;
    width: 500px;
}

.portfolio-item-collection img {
    display: inline-block;
    vertical-align: middle;
    padding: 1rem;
}

.portfolio-item-collection .lightbox {
    cursor: zoom-in;
}

.portfolio-item-image>img {
    display: inline-block;
    cursor: zoom-in;
    border: 1px solid #ccc;
}

.phone {
    width: 120px;
}

.tablet {
    width: 580px;
}

.portfolio-item-collection-group {
    display: inline-block;
    border: 1px solid #ccc;
}

.siema {
    position: relative;
    left: 2rem;
    border: 1px solid #ccc;
}

.siema+figcaption {
    margin-left: 2rem;
}

figcaption {
    display: block;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
}

.portfolio-item-image.nano-size,
.portfolio-item-image.nano-size .siema {
    width: auto;
}

.portfolio-item-image.nano-size img,
.portfolio-item-image.nano-size .siema img {
    width: 150px;
}

.portfolio-item-image.mobile-size,
.portfolio-item-image.mobile-size .siema {
    width: 300px;
}

.portfolio-item-image.desktop-size,
.portfolio-item-image.desktop-size .siema {
    width: 500px;
}

.iframe-holder {
    position: relative;
    width: 570px;
    height: 420px;
    margin-bottom: 5rem;
    border: 1px solid #ccc;
    background: url("/img/loading.png") no-repeat 50% 50%;
}

.iframe-holder.easybrand {
    padding: 1rem;
    height: 520px;
    background: none;
}

.iframe-holder iframe {
    width: 100%;
    height: 100%;
}

.iframe-holder figcaption {
    position: absolute;
    bottom: -30px;
}

.iframe-holder.easybrand figcaption {
    left: 0;
    bottom: -25px;
}

.pager-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pager {
    text-align: center;
    align-self: center;
}

.current-page {
    width: 10px;
    text-align: right;
    display: inline-block;
    margin-right: 0.5rem;
}

.total-pages {
    margin-left: 0.5rem;
}

.detail {
    text-align: center;
    margin: 0 auto;
    min-height: 0;
    width: 100%;
    max-width: 32em;
}

.siema-btn {
    position: relative;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.2;
    transition: all 0.2s ease-in-out;
}

.siema1a .siema-btn {
    top: 260px;
}

.siema1b .siema-btn {
    top: 175px;
}

.siema3a .siema-btn {
    top: 200px;
}

.siema3b .siema-btn {
    top: 200px;
}

.siema4a .siema-btn {
    top: 200px;
}

.siema4b .siema-btn {
    top: 180px;
}

.siema5a .siema-btn {
    top: 200px;
}

.siema5b .siema-btn {
    top: 220px;
}

.siema5c .siema-btn {
    top: 200px;
}

.siema6a .siema-btn {
    top: 150px;
}

.siema-btn.siema-active {
    opacity: 1.0;
    cursor: pointer;
}

.siema-btn.prev {
    border-right: 15px solid #2E4051;
}

.siema-btn.prev.siema-active:hover {
    border-right-color: #F1B51C;
}

.siema-btn.next {
    left: 40px;
    border-left: 15px solid #2E4051;
}

.siema-btn.next.siema-active:hover {
    border-left-color: #F1B51C;
}

.lum-lightbox.lum-open {
    z-index: 9999;
}

.lum-lightbox-image-wrapper:after {
    content: " ";
    background: url("../img/cancel.svg") no-repeat;
    background-size: 36px;
    height: 36px;
    width: 36px;
    position: absolute;
    top: 1rem;
    right: 0;
    cursor: pointer;
}

.lightbox-gallery {
    cursor: zoom-in;
}

.lum-lightbox-inner .lum-lightbox-caption {
    line-height: 1;
}

.lum-lightbox-inner img {
    max-height: 98%;
    cursor: zoom-out;
}

.line-head {
    padding-right: 0.5rem;
    font-weight: 600;
}

.welcome {
    padding-top: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.table-800 {
    max-width: 800px;
}

.table-methodology th,
.table-methodology td {
    text-align: center;
}

.table-methodology img {
    width: 18px;
    height: 18px;
}

.table-side-head {
    margin-top: 3rem;
}

.table-side-head th,
.table-side-head td {
    vertical-align: top;
}

.table-side-head th {
    border-bottom: 1px solid #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fdff+0,e9ecef+100 */
    background: #f9fdff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f9fdff 0%, #e9ecef 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f9fdff 0%, #e9ecef 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f9fdff 0%, #e9ecef 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9fdff', endColorstr='#e9ecef', GradientType=1);
    /* IE6-9 */
}

.table-side-head p {
    margin-top: 0;
}

.table-500 {
    max-width: 500px;
}

.mobile-menu-container {
    display: none;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2E4051;
}

.mobile-menu-container ul {
    height: calc(100% - 50px);
    text-align: center;
}

.mobile-menu-container li {
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

.mobile-menu-container li a {
    color: #fff;
    display: block;
    line-height: 6rem;
    height: 6rem;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transition: none;
}

.mobile-menu-container li:hover a,
nav li a:active {
    color: #303030;
    background: #F1B51C;
}

.withspacer {
    padding-bottom: 1.5rem;
}

/* Responsive Adjustments */

@media print,
screen and (max-width:1300px) {
    div.wrapper {
        width: 960px;
    }

    .card-group {
        grid-template-columns: auto auto auto;
    }

    .phone {
        width: 108px;
    }

    .tablet {
        width: 522px;
    }

}

@media print,
screen and (max-width:1120px) {
    div.wrapper {
        width: 900px;
    }

    .card-group {
        grid-template-columns: auto auto auto;
    }

    .phone-attribute {
        height: 50px;
    }
}

@media print,
screen and (max-width:1050px) {
    div.wrapper {
        width: 800px;
    }

    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    /* Pagination */
    .pagination {
        *zoom: 1;
    }

    .pagination:before,
    .pagination:after {
        display: table;
        content: " ";
    }

    .pagination:after {
        clear: both;
    }

    .pagination ul {
        float: right;
        list-style: none;
        height: 24px;
        padding: 0;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
    }

    .pagination li {
        float: left;
        height: 24px;
        border-right: 1px solid #e5e5e5;
    }

    .pagination li:last-child {
        border-right: none;
    }

    .pagination li a {
        font-size: 11px;
        color: #999;
        display: block;
        text-align: center;
        line-height: 24px;
        height: 24px;
        font-size: 13px;
        padding: 0 8px;
        width: 1em;
        transition: all 0.2s ease-in-out;
    }

    .pagination li:first-child a {
        border-radius: 5px 0 0 5px;
    }

    .pagination li:last-child a {
        border-radius: 0 5px 5px 0;
    }

    .pagination li.prev a {
        width: 4em;
    }

    .pagination li.next a {
        width: 2.5em;
    }

    .pagination li a:hover,
    .pagination li a:active {
        color: #444;
        font-weight: 700;
        text-decoration: none;
    }

    .pagination li a:active,
    .pagination li a.active,
    .pagination li a.active:hover {
        background: #f8f8f8;
    }

    img.avatar {
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        width: 72px;
        height: 72px;
        float: left;
        margin-right: 1rem;
    }

    img.profile {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        width: 100px;
        height: 100px;
    }

    img.pull-right {
        max-width: 40%;
        float: right;
        margin: 0 0 1em 1em;
    }

    img.pull-left {
        max-width: 40%;
        float: right;
        margin: 0 1em 1em 0;
    }

    header a small {
        display: inline;
    }

    .card-group {
        grid-template-columns: auto auto auto;
    }

    .phone {
        width: 90px;
    }

    .phone-attribute {
        height: 45px;
    }

    .tablet {
        width: 360px;
        margin-bottom: 1rem;
    }
}

@media print,
screen and (max-width:900px) {
    body {
        font-size: 1.75rem;
    }

    div.wrapper {
        width: 680px;
    }

    .mobile-menu {
        display: block;
    }

    .card-group {
        grid-template-columns: auto auto;
    }
}

@media print,
screen and (max-width:760px) {
    /*   nav ul {
      right: -1rem;
   } */
}

@media print,
screen and (max-width:720px) {

    .form-all li#id_18,
    .form-all li#id_16 {
        float: none;
        width: 100%;
    }

    .card-group {
        grid-template-columns: auto auto;
    }

    .phone {
        width: 72px;
    }

    .tablet {
        width: 348px;
    }
}

@media print,
screen and (max-width:700px) {
    div.wrapper {
        width: auto;
        margin: 0 2rem;
    }

    header {
        width: 100%;
        padding-right: 4rem;
    }

    header p.view {
        position: static;
    }

    pre,
    pre>code {
        word-wrap: normal;
    }

    /*   nav ul {
      right: 2rem;
   } */

    .Résumé h5 {
        float: none;
        margin-left: 0;
        width: 100%;
        border: none;
        background: #eee;
    }

    .Résumé {
        padding-left: 0;
    }

    .Résumé h1 {
        margin-left: 0;
    }

    .Résumé h5+ul {
        margin-top: 0;
    }

    .Résumé h5+ul:last-of-type {
        margin-top: 0rem;
    }

    .Résumé h5+h6 {
        margin-top: 0;
    }

    .mobile-menu img {
        right: 4.3rem;
    }
}

@media print,
screen and (max-width: 600px) {
    .welcome {
        padding-left: 0;
        padding-right: 0;
    }
}

@media print,
screen and (max-width:648px) {
    .portfolio-item-collection-group {
        text-align: center;
    }

    .phone-attribute[src*="arrow"] {
        display: block;
        margin: 0 auto;
        transform: rotate(90deg);
    }
}

@media print,
screen and (max-width:480px) {
    div.wrapper {
        margin: 0 2;
    }

    .card-group {
        grid-template-columns: auto;
    }

    .card {
        margin: auto;
    }

    aside {
        float: none;
        margin-left: 0;
        width: auto;
        margin-bottom: 2rem;
    }

    header a small {
        display: inline;
    }

    .welcome {
        padding-left: 0;
        padding-right: 0;
    }
}

@media print,
screen and (max-width:375px) {}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }

}
